{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div class='container containerForm loginForm'>

    <h1>Créer un compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control form mt-3', 'placeholder':'Nom' }}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form mt-3', 'placeholder':'email' }}) }}
        {{ form_widget(registrationForm.phone_number, {'attr': {'class': 'form-control form mt-3', 'placeholder':'Numéro de téléphone' }})}}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control form mt-3', 'placeholder':'Mot de passe' }})}}
        <p></p>
        <span>{{ form_widget(registrationForm.agreeTerms) }} Veuillez accepter les conditions générales</span>

        <p><button type="submit" class="btn btn-lg btn-primary mt-4">CREER UN COMPTE</button></p>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
