{# <nav class="navbar navbar-expand-lg bg-body-tertiary"> #}
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">📚 YACHAI TAQI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_catalog')}}">Catalogue</a>

        {# </li> #}
        {# <li class="nav-item dropdown"> #}
          {# <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Emprunter</a> #}
          {# <ul class="dropdown-menu"> #}
            {# <li>Je ne sais quoi</li> #}

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_emprunt_index') }}">Mes emprunts</a>

          {# </ul> #}
        {# </li> #}

        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Compte
          </a>
          <ul class="dropdown-menu">
          {% if app.user %}
              <li class="dropdown-item text-secondary">{{ app.user.name }}</li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ path('app_logout')}}">Me deconnecter</a></li>
          {% else %}
              <li><a class="dropdown-item" href="{{ path('app_login')}}">Se connecter</a></li>
              <li><a class="dropdown-item" href="{{ path('app_register')}}">Creer un compte</a></li>
              {# <li>Mes infos</li> #}
        {% endif %}
          </ul>
        </li>
        {# {% endif %} #}
        {% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_book_index') }}">Liste des ouvrages</a></li>
            <li><a class="dropdown-item" href="{{ path('app_book_new') }}">Ajouter un ouvrage</a></li>
            <li><hr class="dropdown-divider"></li>            
            {# <li><a class="dropdown-item" href="#">Emprunt en cours</a></li> #}
            <li><a class="dropdown-item" href="{{ path('app_emprunt_all') }}">Historique de tous les emprunts</a></li>
            {# <li><hr class="dropdown-divider"></li>             #}
            {# <li><a class="dropdown-item" href="#">A voir</a></li>
            <li><a class="dropdown-item" href="#">A voir</a></li> #}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ path('app_user_index')}}">BDD User</a></li>
            {% endif %}

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>